*{
  box-sizing: border-box;
  padding: 0;
  margin-block: 0;
}
body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
@font-face {
  font-family:"nyt-cheltenham";
  src:url(https://a1.nyt.com/fonts/family/cheltenham/cheltenham-normal-700.ttf);
  font-style:normal;
  font-weight:700;
}
@font-face {
  font-family:"nyt-cheltenham";
  src:url(https://a1.nyt.com/fonts/family/cheltenham/cheltenham-normal-400.ttf);
  font-style:normal;
  font-weight:400;
}
@font-face {
  font-family:"nyt-imperial";
  src:url(https://a1.nyt.com/fonts/family/imperial/imperial-normal-500.ttf);
  font-style:normal;
  font-weight:700;
}
@font-face {
  font-family:"nyt-franklin";
  src:url(https://a1.nyt.com/fonts/family/franklin/franklin-normal-700.ttf);
  font-style:normal;
  font-weight: 700;
}
@font-face {
  font-family:"nyt-franklin";
  src:url(https://a1.nyt.com/fonts/family/franklin/franklin-normal-500.ttf);
  font-style:normal;
  font-weight: 500;
}
@font-face {
  font-family:"nyt-franklin";
  src:url(https://a1.nyt.com/fonts/family/franklin/franklin-normal-300.ttf);
  font-style:normal;
  font-weight: 300;
}
.table-pic {
  width: 945px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 23% 25% 23% 29%;
}
.image-area {
  grid-area: 3 / 1 / 4 / 6;
}
.cap1{
  grid-area: 4 / 1 / 4 / 1;
}
.cap2{
  grid-area: 4 / 2 / 4 / 2;
}
.cap3{
  grid-area: 4 / 3 / 4 / 3;
}
.cap4{
  grid-area: 4 / 4 / 4 / 4;
}
.cap5{
  grid-area: 6 / 1 / 6 / 1;
}
.cap6{
  grid-area: 6 / 2 / 6 / 2;
}
.cap7{
  grid-area: 6 / 3 / 6 / 3;
}
.cap8{
  grid-area: 6 / 4 / 6 / 4;
}
.cap{
  padding: 15px;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
.cap_title{
  font-weight: 700;
}
.background-image {
  max-width: 100%;;
}
.heading-text {
  font-family: nyt-cheltenham, Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 1.25rem;
  grid-area: 1 / 1  / 1 / 4;
}
.summary-text{
  font-family: nyt-cheltenham, Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: .875rem;
  grid-area: 2 / 1 / 2 / 5;
  color:#666;
}